{{ ansible_managed | comment }}

add set inet filter ipv4_knockdns { type ipv4_addr; flags timeout; }

add rule inet nat prerouting udp dport 53 counter redirect to 5353

add chain inet filter input_knockdns
add rule inet filter input jump input_knockdns

#n=google.com; c=$(printf "\06%s\0" "$n" | wc -c); c=$(echo $(( $c * 8 ))); b=$(printf "\06%s\0" "$n" | xxd -p); echo "@th,160,$c 0x$b"
add rule inet filter input_knockdns meta l4proto udp udp dport 5353 @th,160,96 0x06676f6f676c6503636f6d00 add @ipv4_knockdns {ip saddr timeout 60m} counter reject
add rule inet filter input_knockdns ip saddr @ipv4_knockdns udp dport 5353 counter accept
