{{ ansible_managed | comment }}

add set inet filter ipv4_knock_222 { type ipv4_addr; flags timeout; }

add chain inet filter input_knockssh
add rule inet filter input jump input_knockssh
add rule inet filter input_knockssh tcp dport 222 add @ipv4_knock_222 {ip saddr timeout 60m} counter reject
add rule inet filter input_knockssh ip saddr @ipv4_knock_222 tcp dport 22 counter accept
