{{ ansible_managed | comment }}

add rule inet nat postrouting oif {{ nftables_masquerade_oif }} masquerade
{% for r in nftables_masquerade_rules %}
add rule inet filter forward iif {{ nftables_masquerade_iif }} oif {{ nftables_masquerade_oif }} ip saddr {{ nftables_masquerade_saddr }} {{ r }}
{% endfor %}
