#!/usr/sbin/nft -f
{{ ansible_managed | comment }}

add table inet nat
add table inet filter

add chain inet nat prerouting  { type nat    hook prerouting  priority dstnat; }
add chain inet nat postrouting { type nat    hook postrouting priority srcnat; }

add chain inet filter input    { type filter hook input       priority filter; policy drop; }
add chain inet filter forward  { type filter hook forward     priority filter; policy drop; }
add chain inet filter output   { type filter hook output      priority filter; policy drop; }

add rule inet filter input ip protocol icmp   limit rate over 1/second burst 5 packets counter drop
add rule inet filter input ip protocol icmpv6 limit rate over 1/second burst 5 packets counter drop

add rule inet filter input   ct state invalid counter drop
add rule inet filter forward ct state invalid counter drop
add rule inet filter output  ct state invalid counter drop

add rule inet filter input   ct state related,established counter accept
add rule inet filter forward ct state related,established counter accept
add rule inet filter output  ct state related,established counter accept

add rule inet filter input  iifname lo counter accept
add rule inet filter output iifname lo counter accept

define allowed_icmp = { echo-reply, destination-unreachable, echo-request, time-exceeded, parameter-problem }

add rule inet filter input  icmp type $allowed_icmp counter accept
add rule inet filter output icmp type $allowed_icmp counter accept

add rule inet filter input  icmpv6 type $allowed_icmp counter accept
add rule inet filter output icmpv6 type $allowed_icmp counter accept

add rule inet filter input icmpv6 type { nd-neighbor-solicit, nd-router-advert, nd-neighbor-advert } accept

add rule inet filter input  udp sport 32769-65535 udp dport 33434-33523 reject
add rule inet filter output udp sport 32769-65535 udp dport 33434-33523 skuid root counter accept

{{ nftables_hosts }} 

add rule inet filter input ip  saddr {{ nftables_allowed_ipv4_ssh }} tcp dport ssh counter accept
add rule inet filter input ip6 saddr {{ nftables_allowed_ipv6_ssh }} tcp dport ssh counter accept

add chain inet filter input_services
add chain inet filter output_services

add rule inet filter input jump input_services
add rule inet filter output jump output_services

add rule inet filter output tcp dport 53 counter accept
add rule inet filter output udp dport 53 counter accept

add rule inet filter output tcp dport {http, https} skuid _apt counter accept
add rule inet filter output udp dport ntp skuid systemd-timesync counter accept

include "/etc/nftables.d/*.conf"

add rule inet filter input   counter log prefix "INPUT" group 0
add rule inet filter forward counter log prefix "FORWARD" group 0
add rule inet filter output  counter log prefix "OUTPUT" group 0

add rule inet filter input   counter reject with icmpx type admin-prohibited
add rule inet filter forward counter reject with icmpx type admin-prohibited
add rule inet filter output  counter reject with icmpx type admin-prohibited

